body {
background-color: rgb(206, 134, 232);
color: white;
font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background-color: #121111;
}

.navbar a {
  color: rgb(13, 13, 13);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.article-card {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
.article-card:hover {
  transform: scale(1.05);
}
.extra-page {
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .articles {
    grid-template-columns: 1fr;
  }
}